@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

.icons{
    background-color: #fff;
    opacity: .7;
    color: #393d32;
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    gap: .8rem;
    cursor: pointer;
    margin: 0 1.5rem;
}


.watch-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    height: 100vh;
    width: 90vw;
    place-items: center;
    margin: 0 2rem;
}


.side-one{
    justify-self: center;
    text-transform: capitalize;
    position: relative;

}

.type{
    color: #d3b979;
    font-size: 18px;
}

.side-one h3{
    font-size: 65px;
}

.big-thin{
    font-size: 80px;
    font-weight: 100;
}

.spring{
    position: absolute;
    top: 60%;
    left: 1%;
    max-height: 250px;
    max-width:50px;
    width: 100%;
    opacity: .3;
}

.small-bold{
    font-size: 32px;
    font-weight: 700;
}


.price{
    color: #d3b979;
    font-weight: 500;
    font-size: 18px;
    margin: 1rem 0;
}


.buttonz{
    border: none;
    outline: none;
    background: none;
    border: 1px solid #d3b979;
    color: #d3b979;
    border-radius: 8px;
    padding: .5rem 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    margin-right: .5rem;
    transition: .3s ease;
}

.buttonz:hover{
    color: #fff;
    background-color: #d3b979;
}


.side-two{
    display: flex;
    justify-self: center;
}

.sparks{
    position: absolute;
    z-index: 10;
}
.watch{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #fff;
    transition: 1.5s;
    border-radius: 70%;
    padding: 20% 0;
    transform: rotate(15deg);
    transform-style: preserve-3d;
}

.watch::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #904e30;
    width: 100%;
    height: 100%;
    border-radius: 70%;
    transform: translateZ(-1px) rotate(-35deg);

}

.watch .image{
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 400px;
    transition: 1.5s;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    margin: auto 0;
    transform: rotate(-15deg);
    opacity: 0;

}

.image.show{
    opacity: 1;
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

}


.line{
    height: 35px;
    width: 1px;
    background-color: #fff;
}

.colors p{
    text-transform: capitalize;
    transform: rotate(-90deg);
    margin-top: 2.5rem;
    width: 100px;
}

.colors span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d3b979;
    cursor: pointer;
    position: relative;
}


.colors :nth-child(1){
    background-color: #e0d7ce;
}
.colors :nth-child(2){
    background-color: #41414e;
}
.colors :nth-child(3){
    background-color: #af2b3c;
}
.colors :nth-child(4){
    background-color: #43543f;
}
.colors :nth-child(5){
    background-color: #909dbb;
}
.colors :nth-child(6){
    background-color: #edd569;
}
.colors :nth-child(7){
    background-color: #6cb26e;
}

.colors span.active::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50%;
    border:1px solid #d3b979;
    height: 15px;
    width: 15px;
}


@media screen  and (max-width:900px){

    .side-one{
        align-self: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .side-one h3{
        font-size: 45px;
    }

    .big-thin{
        font-size: 50px;
    }


    .wrapper{
        margin: 0;
        text-align: center;
    }
    .small-bold{
        font-size: 22px;
    }

    .spring{
        display: none;
    }

    
}

@media screen and (max-width:600px){
    .watch-container{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: auto;
        height: auto !important;
        width: 200px;
    }
    

    .side-one{
        text-align: center;
    }

    .side-one h3{
        font-size: 55px;
    }
    .big-thin{
        font-size: 60px;

    }

    .small-bold{
        font-size: 32px;
    }

   .side-two{
       justify-self: center;
       padding-bottom: 10rem;
   }

   .image{
       width: 250px;
       height: 250px;
       width: 100%;
   }
}